// reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
body {
    position: absolute;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f7f7f7;
}
html { width: 100%;font-size: 10px; }

img {
    width: 100%;
}

// layout
header {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
        display: block;
        max-width: 1200px;
        margin: auto;
    }
    background-color:#fff;
    padding: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    ul {
        padding: 0;
        margin: 0;
    }
    a {
        color: #fff;
    }
    img.logo {
        width: 5rem;
        cursor: pointer;
    }

    img.logoTxt {
        width: 15rem;
        position: absolute;
        left: calc(50% - 7.5rem);
        top: 2rem;
    }
}

main {
    overflow: auto;
    min-height: 80vh;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 4rem;

    .container {
        max-width: 120rem;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    h1 {
        text-align: center;
        margin: auto;
        padding: 2rem;
    }
}

footer {
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem;
    color: rgb(107, 107, 107);
    background-color: #24292e;
}

// theme
.overviewItem {
    box-sizing: border-box;
    display: block;
    margin: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    padding: 2rem;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    height: 45rem;

    div.category {
        position: absolute;
        background-color: #1f8ded;
        z-index: 99;
        top: 2rem;
        right: 2rem;
        padding: 1rem;
        border-radius: 2rem;
        
        a {
            text-decoration: none;
            font-weight: 600;
            color: #fff;
        }
    }

    &:hover {
        cursor: pointer;
        h2 {
            color: #1f8ded;
        }

        img {
            opacity: 0.7;
        }
    }

    @media(min-width: 720px){
        float: left;
        width: calc(50% - 3rem);
        margin: 0;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    h2 {
        margin-top: 35.5rem;
        transition: all .2s ease;
    }

    

    div.image {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 75%;
        background-color: #2b2b2b;

        img {
            transition: all .2s ease;
            width: 100%;
            display: block;
            margin: auto;
        }
    }
}

// detail
div.top {
    overflow: auto;
    div.banner {
        width: 80%;
        margin: auto;
    
        @media(min-width: 720px){
            float: left;
            width: calc(50% - 1rem);
            margin-right: 1rem;
        }
    }

    div.properties {
        width: 80%;
        margin: auto;
        margin-top: 4rem;

        @media(min-width: 720px){
            margin-top: 0;
            float: left;
            width: calc(50% - 1rem);
            margin-left: 1rem;
        }

        ul.props {
            padding-bottom: 4rem;
            overflow: auto;
            li {
                position: relative;
                display: block;
                width: 50%;
                margin-bottom: 2rem;
                float: left;
                font-weight: 600;
                padding-left: 3rem;
                img {
                    left: 0;
                    top: 0;
                    position: absolute;
                    width: 2rem;
                }
            }

            li.category {
                cursor: pointer;
                &:hover {
                    color: #1f8ded;
                }
                
            }
        }

        li.ingredient {
            clear: both;
            margin-bottom: 2rem;
            position: relative;
            padding-left: 3rem;
            img {
                left: 0;
                position: absolute;
                width: 2rem;
            }
        }
    }
}

div.recipe {
    div.description {
        margin-bottom: 2rem;
        p {
            line-height: 2.8rem;
        }
    }

    margin-top: 4rem;
    margin-bottom: 4rem;
    clear: both;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    background-color: #fff;
    padding: 2rem;
    ul {
        margin-left: 2rem;
    }
    li {
        list-style: circle;
        margin-top: 2rem;
    }
}
